<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
      
<head>
	<title>Application - Out of Service</title>
	
</head>

<body>
	<span th:fragment="title">Application - Out of Service</span>

	<div th:fragment="content" class="container">
	    <div class="row">
	        <div class="col-md-12">
	            <div class="error-template">
	                <h1 id="errorTitle" class="error-title">The application is currently out of service</h1>
	                
	            </div>
	        </div>
	    </div>
	</div>
</body>

</html>